@{
  Layout = "_Layout";
}

  @using Restful.Models
  <form action="/entry" method="post">
  <label for="name">Enter name:</label>
  <input type="text" id="name" name="name">
  <label for="message">Enter message:</label>
  <input type="text" id="message" name="message">
  <button type="submit">Click here to add your message to @DateTime.Now.ToShortDateString()</button>
  </form>
  @foreach (KeyValuePair<string, Category> category in Model)
  {
    <h1>@category.Key</h1><br>
    <div class="category">
    @foreach (Entry element in category.Value.EntryList)
    {
      <div class="msg">
        <p>Name: @element.Name</p>
        <p>Time: @element.Time</p>
        <h2>@element.Message</h2>
        <a href="/entry/@element.Id">View more info</a>
      </div>
    }
    </div>
  }
